<!-- <p class="ms-5 ps-4">roles works!</p> -->
<div class="ms-5 ps-4 pt-4">
    <div class="row m-0 pt-5">
        <div class="col-md-12 col-lg-4 col-12 my-3">
            <div class="card">
                <p-table [value]="customers" styleClass="p-datatable-sm custom-table p-datatable-gridlines">
                    <ng-template pTemplate="caption">
                        <div class="d-flex align-items-center justify-content-between">
                            <h5 class="mb-0 AvenirLTStd-Heavy color-white">Groups List</h5>
                            <div class="d-flex align-items-center">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search"></i>
                                    <input type="text" pInputText autocomplete="off" placeholder="Quick Search By Group"
                                        class="AvenirLTStd-Roman" />
                                </span>
                                <span class="material-icons-outlined cursor-pointer" (click)="op.toggle($event)">
                                    filter_alt
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="sticky-top" style="width: 3rem"></th>
                            <th class="sticky-top">Groups</th>
                            <th class="sticky-top" style="width:10rem">Active</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-customer>
                        <tr>
                            <td class="text-center" (click)="editRole()"><span
                                    class="material-icons-outlined f-20 color-green cursor-pointer">
                                    edit
                                </span></td>
                            <td>admin</td>
                            <td>Yes</td>
                        </tr>
                    </ng-template>
                </p-table>

                <p-paginator [rows]="10" [totalRecords]="customers" [rowsPerPageOptions]="[10,20,30]"></p-paginator>

            </div>
        </div>
        <div class="col-md-12 col-lg-8 col-12 roles-custom-header my-3 pe-lg-5">
            <p-card [formGroup]="groupForm" styleClass="pt-0 " *ngIf="!privilage">
                <div class="fieldset ">
                    <div class=" ">
                        <div class="d-flex align-items-center justify-content-between title-header">
                            <h5 class="AvenirLTStd-Heavy mb-0 px-2 ">{{groupForm.value.id==0? 'Create':'Edit'}} Group</h5>
                            <!-- <h5 class="AvenirLTStd-Heavy mb-0 px-2 " *ngIf="edit">Edit Group</h5> -->
                            <h5 class="AvenirLTStd-Heavy mb-0 px-2 cursor-pointer" *ngIf="edit"
                                (click)="privilage=true">Map Roles</h5>
                        </div>
                    </div>
                    <div class="p-fluid mt-2 p-grid row m-0 event-f-g">
                      <div class="p-inputgroup row ng-invalid ng-dirty" >
                        <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Name
                            <span class="text-danger">*</span>             </label>

                        <span class="d-flex align-items-center col-md-6 col-12" >
                            <span class="p-inputgroup-addon">
                                <span class="material-icons-outlined f-20">
                                    person
                                </span>
                            </span>
                            <input type="text" [ngClass]="{'is-invalid':formControls.name.invalid&&formError}" formControlName="name" id="inputgroup" pInputText autocomplete="off" placeholder="Name" >

                        </span>
                    </div>
                        <div class="p-field     col-12 pt-4">
                            <div class="p-inputgroup">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Description
                                </label>
                                <div class="d-flex  col-md-6 col-12">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            chat
                                        </span>
                                    </span>
                                    <textarea id="float-input" rows="2" pInputText autocomplete="off"area
                                       formControlName="description" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="p-field     col-12 pt-4 ">
                            <div class="p-inputgroup row">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Email
                                </label>
                                <span class="d-flex align-items-center col-md-6 col-12">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-outlined f-20">
                                            person
                                        </span>
                                    </span>
                                    <input type="text" formControlName="email" id="inputgroup" pInputText autocomplete="off" placeholder="Email">

                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-12 pt-4 ">
                            <div class="p-inputgroup">
                                <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Sort Order
                                </label>
                                <div class="d-flex align-items-center col-md-4 col-12">
                                    <span class="p-inputgroup-addon">
                                        <span class="material-icons-round f-20">
                                            sort
                                        </span>
                                    </span>
                                    <span class="p-float-label">
                                        <p-inputNumber type="text" formControlName="sortOrder" id="inputgroup"  class=" col-4"
                                            placeholder="Sort Order"></p-inputNumber>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="  col-12 pt-4" *ngIf="this.groupForm.value.id!=0">
                            <div class="p-inputgroup">
                                <p class="f-14 AvenirLTStd-Heavy mb-0 col-4">Active</p>
                                <div class="p-field-checkbox ">
                                    <p-inputSwitch formControlName="active"></p-inputSwitch>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav justify-content-between align-items-center mt-2 px-2">
                        <button (click)="createForm()" pButton pRipple type="button" icon="pi pi-times" label="Cancel"
                            class="p-button-danger"></button>
                        <p-button label="Create" (click)="createGroup()" icon="pi pi-send"></p-button>
                    </div>
                </div>
            </p-card>
            <p-card styleClass="pt-0 mt-2" *ngIf="privilage">
                <div class="fieldset ">
                    <div class=" ">
                        <div class="d-flex title-header align-items-center justify-content-between">
                            <h5 class="AvenirLTStd-Heavy mb-0 px-2 ">Map Roles</h5>
                            <h5 class="AvenirLTStd-Heavy mb-0 px-2 cursor-pointer" (click)="privilage=false">Edit Group
                            </h5>
                        </div>
                    </div>
                    <div class="p-fluid p-grid row m-0 mb-2">
                        <div class="col-md-4 col-12 d-flex align-items-center">
                            <div class="p-field-checkbox ">
                                <p class="f-16 AvenirLTStd-Heavy mb-0 mt-2">Role: coordinator</p>
                            </div>
                        </div>
                        <!-- <div class="p-field   col-md-4  col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        badge
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown [resetFilterOnHide]="true" inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name"
                                        class="w-100" styleClass="w-100"></p-dropdown>
                                    <label for="inputgroup">Module
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="p-field   col-md-4  col-12 pt-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-round f-20">
                                        visibility_off
                                    </span>
                                </span>
                                <span class="p-float-label">
                                    <p-dropdown [resetFilterOnHide]="true" inputId="dropdown" [autoDisplayFirst]="false" optionLabel="name"
                                        class="w-100" styleClass="w-100"></p-dropdown>
                                    <label for="inputgroup">Privilege
                                    </label>
                                </span>
                            </div>
                        </div> -->
                    </div>
                    <p-pickList [source]="customers" [target]="list2" sourceHeader="Available Roles"
                        targetHeader="Selected Roles" [dragdrop]="true" [responsive]="true" [sourceStyle]="{'height':'25vh'}"
                        [targetStyle]="{'height':'25vh'}" filterBy="id" sourceFilterPlaceholder="Search by Roles"
                        targetFilterPlaceholder="Search by Roles" >
                        <ng-template let-customers pTemplate="item">
                            <div class="product-item">
                               {{customers.id}}
                            </div>
                        </ng-template>
                    </p-pickList>
                    <div class="nav justify-content-between align-items-center mt-2 px-2">
                        <button pButton pRipple type="button" icon="pi pi-times" label="Cancel"
                            class="p-button-danger"></button>
                        <p-button label="Grant" icon="pi pi-send"></p-button>
                    </div>
                </div>
            </p-card>

        </div>
    </div>
</div>


<p-overlayPanel #op [style]="{width: '300px'}" appendTo="body">
    <ng-template pTemplate>
        <label for="inputgroup" class="AvenirLTStd-Heavy f-14 mt-2">Group</label>
        <div class="p-inputgroup  ">
            <span class="p-inputgroup-addon">
                <i class="pi pi-user"></i>
            </span>
            <span class="p-float-label">
                <input type="text" id="inputgroup" pInputText autocomplete="off" placeholder="Group">
            </span>
        </div>
        <label class="AvenirLTStd-Heavy f-14 mt-2">Active</label>
        <div class="d-flex align-items-center ">
            <div class="p-field-radiobutton d-flex align-items-center">
                <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue"></p-radioButton>
                <label for="city1" class="mx-2 AvenirLTStd-Light">Yes</label>
            </div>
            <div class="p-field-radiobutton d-flex align-items-center ">
                <p-radioButton name="groupname3" value="val2" [(ngModel)]="selectedValue"></p-radioButton>
                <label for="city2" class="mx-2 AvenirLTStd-Light">No</label>
            </div>
            <div class="p-field-radiobutton d-flex align-items-center">
                <p-radioButton name="groupname2" value="val3" [(ngModel)]="selectedValue"></p-radioButton>
                <label for="city3" class="mx-2 AvenirLTStd-Light">All</label>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end">
            <button pButton pRipple type="button" icon="pi pi-search"
                class="p-button-rounded p-button-success mt-2"></button>

        </div>
    </ng-template>
</p-overlayPanel>
