<div class="row about-us-popup">

    <div class="col-md-6 ps-0">
        <div class="d-flex  mt-2">
            <span><i class="fab fa-vimeo-v me-4" style="font-size:30px;"></i></span>
            <div>
                <h5 class="AvenirLTStd-Heavy">Version</h5>
                <span><a title="" role="button"><label>SXP-V1.8</label></a></span>
            </div>
        </div>
        <div class="d-flex  mt-2">
            <span><i class="fab fa fa-pinterest-p me-4" style="font-size:30px;"></i></span>
            <div>
                <h5 class="AvenirLTStd-Heavy">Patch</h5>
                <span><a title="" role="button"><label>V1.8</label></a></span>
            </div>
        </div>
        <div class="d-flex  mt-2">
            <span><i class="fab fa fa-adn me-4" style="font-size:30px;"></i></span>
            <div>
                <h5 class="AvenirLTStd-Heavy">Applied on</h5>
                <span><a title="" role="button"><label>06/24/2021 12:17 PM</label></a></span>
            </div>
        </div>
    </div>
    <div class="col-md-6 ">
        <div class="d-flex mt-2 ">
            <span><i class="fa fa-globe me-4" style="font-size:30px;"></i></span>
            <div>
                <h5 class="AvenirLTStd-Heavy"> Supported Browsers </h5>
                <span><a title="" role="button"><label>Internet Explorer 10</label></a></span>
                <span><a title="" role="button"><label>Google Chrome 64.0.31282.167</label></a></span>
                <span><a title="" role="button"><label>Mozilla Firefox 55.02</label></a></span>
            </div>
        </div>
        <div class="d-flex mt-2">
            <span><i class="fa fa-desktop me-4" style="font-size:30px;"></i></span>
            <div>
                <h5 class="AvenirLTStd-Heavy">Supported Devices</h5>
                <span><a title="" role="button"><label>Desktop, Tablet</label></a></span>

            </div>
        </div>
    </div>
</div>
<!-- <div class="footer bg-grey-darker p-3 color-white text-center">
    <label class="mb-0">Copyright © 2020, Aquila Software Inc.</label>
</div> -->