<!-- <p>security-settings works!</p> -->
<div class="ms-5 ps-4 d-flex align-items-center roles-custom-header pt-4">
    <div class="w-90 mx-auto pt-5 mb-3">
        <p-card styleClass="m-0">
            <div class="p-fluid p-grid row m-0 ">
                <div class="p-field     col-12  pe-0">
                    <div class="p-inputgroup row">
                        <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Login Attempts
                        </label>
                        <span class="col-8 ">
                            <span class="d-flex   w-100">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        person
                                    </span>
                                </span>
                                <div>
                                    <input type="text" id="inputgroup" pInputText autocomplete="off" placeholder="Login Attempts" class="w-100">
                                </div>
                            </span>
                            <p class="mb-0 f-12 text-small ">This indicates the number of login attempts allowed for a user. If it crosses this, the account is made inactive.</p>

                        </span>

                    </div>
                </div>
                <div class="p-field  pt-2 pe-0">
                    <div class="p-inputgroup row">
                        <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Password Life
                        </label>
                        <span class="col-8 ">
                            <span class="d-flex   w-100">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        person
                                    </span>
                                </span>
                                <div>
                                    <input type="text" id="inputgroup" pInputText autocomplete="off" placeholder="Password Life" class="w-100">
                                </div>
                            </span>
                            <p class="mb-0 f-12 text-small">This indicates the password life for a user. The password is expired once this is crossed.</p>

                        </span>
                    </div>
                </div>
                <div class="p-field  pt-2 pe-0">
                    <div class="p-inputgroup row">
                        <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Past Passwords
                        </label>
                        <span class="col-8 ">
                            <span class="d-flex   w-100">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        person
                                    </span>
                                </span>
                                <div>
                                    <input type="text" id="inputgroup" pInputText autocomplete="off" placeholder="Past Passwords" class="w-100">
                                </div>
                            </span>
                            <p class="mb-0 f-12 text-small">This indicates that when the user changes the password it should not be same as last this number passwords.</p>

                        </span>
                    </div>
                </div>
                <div class="p-field  pt-2 pe-0">
                    <div class="p-inputgroup row">
                        <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Account Life
                        </label>
                        <span class="col-8 ">
                            <span class="d-flex   w-100">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        person
                                    </span>
                                </span>
                                <div>
                                    <input type="text" id="inputgroup" pInputText autocomplete="off" placeholder="Account Life" class="w-100">
                                </div>
                            </span>
                            <p class="mb-0 f-12 text-small" >This indicates the idle account life. When the user is idle so many number of days the account is locked.</p>

                        </span>
                    </div>
                </div>
                <div class="p-field  pt-2 pe-0">
                    <div class="p-inputgroup row">
                        <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Min Password Length
                        </label>
                        <span class="col-8 ">
                            <span class="d-flex   w-100">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        person
                                    </span>
                                </span>
                                <div>
                                    <input type="text" id="inputgroup" pInputText autocomplete="off" placeholder="Min Password Length" class="w-100">
                                </div>
                            </span>
                            <p class="mb-0 f-12 text-small">This indicates the minimum length of password.</p>

                        </span>
                    </div>
                </div>
                <div class="p-field  pt-2 pe-0">
                    <div class="p-inputgroup row">
                        <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Max Password Length
                        </label>
                        <span class="col-8 ">
                            <span class="d-flex   w-100">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        person
                                    </span>
                                </span>
                                <div>
                                    <input type="text" id="inputgroup" pInputText autocomplete="off" placeholder="Max Password Length" class="w-100">
                                </div>
                            </span>
                            <p class="mb-0 f-12 text-small">This indicates the maximum length of password.</p>

                        </span>
                    </div>
                </div>
                <div class="p-field  pt-2 pe-0">
                    <div class="p-inputgroup row">
                        <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-4">Forcible Logout Time
                        </label>
                        <span class="col-8 ">
                            <span class="d-flex   w-100">
                                <span class="p-inputgroup-addon">
                                    <span class="material-icons-outlined f-20">
                                        person
                                    </span>
                                </span>
                                <div>
                                    <input type="text" id="inputgroup" pInputText autocomplete="off" placeholder="Forcible Logout Time" class="w-100">
                                </div>
                            </span>
                            <p class="mb-0 f-12 text-small">This indicates the number of minutes after which the orphan sessions will be destroyed</p>

                        </span>
                    </div>
                </div>
                <div class=" col-12 pt-4">
                    <div class="p-inputgroup">
                        <p class="f-14 AvenirLTStd-Heavy mb-0 col-4">Mandate Special Characters</p>
                        <div class="p-field-checkbox ">
                            <p-inputSwitch></p-inputSwitch>
                            <p class="mb-0 f-12 text-small">This indicates atleast 1 special character is mandated in password. </p>
                        </div>
                    </div>
                </div>
                <div class="  col-12 pt-4">
                    <div class="p-inputgroup">
                        <p class="f-14 AvenirLTStd-Heavy mb-0 col-4">Mandate Digits</p>
                        <div class="p-field-checkbox ">
                            <p-inputSwitch></p-inputSwitch>
                            <p class="mb-0 f-12 text-small">This indicates atleast 1 digit is mandated in password. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav justify-content-between align-items-center mt-2 px-2">
                <button pButton pRipple type="button" icon="pi pi-times" label="Cancel"
                    class="p-button-danger"></button>
                <p-button label="Save" icon="pi pi-save"></p-button>
            </div>
        </p-card>
    </div>
</div>
