<div [formGroup]="changePassswordForm" class="">
    <!-- <div class="p-field      pt-3 ">
        <div class="p-inputgroup row m-0">
            <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-md-4 col-12">User Id
            </label>

            <span class="d-flex align-items-center col-md-8 col-12 p-0">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-outlined f-20">
                        person
                    </span>
                </span>
                <input type="text"  id="inputgroup" pInputText autocomplete="off"
                    placeholder="User Id">

            </span>
        </div>
    </div> -->
    <div class="p-field      pt-3">
        <div  class="p-inputgroup row m-0">
            <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-md-4 col-12">Old Password
            </label>

            <span class="d-flex align-items-center col-md-8 col-12 p-0">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-outlined f-20">
                       lock
                    </span>
                </span>
                <p-password  placeholder="Old Password" formControlName="oldPassword" class="w-100" styleClass="w-100"  [ngClass]="{'is-invalid ':formvalidation.oldPassword.invalid&&formError}"  [feedback]="false" [toggleMask]="true"></p-password>

                <!-- <input formControlName="oldPassword" [ngClass]="{'is-invalid ':formvalidation.oldPassword.invalid&&formError}" type="password"  id="inputgroup" pInputText autocomplete="off"
                    placeholder="Old Password"> -->
                    <!-- <div class="text-danger" *ngIf="formvalidation.oldPassword.invalid&&formError">
                      Old Password required
                    </div> -->
            </span>

        </div>
    </div>
    <div class="p-field      pt-3 ">
        <div class="p-inputgroup row m-0">
            <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-md-4 col-12">New Password
            </label>

            <span class="d-flex align-items-center col-md-8 col-12 p-0">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-outlined f-20">
                       lock
                    </span>
                </span>
                <!-- <input formControlName="password" [ngClass]="{'is-invalid ':formvalidation.password.invalid&&formError}" type="password"  id="inputgroup" pInputText autocomplete="off"
                    placeholder="New Password"> -->
                <p-password placeholder="New Password" formControlName="password" class="w-100" styleClass="w-100"   [ngClass]="{'is-invalid ':formvalidation.password.invalid&&formError}" [feedback]="false" [toggleMask]="true"></p-password>


            </span>
        </div>
    </div>
    <div class="p-field      pt-3 ">
        <div class="p-inputgroup row m-0">
            <label for="inputgroup" class="f-14 AvenirLTStd-Heavy col-md-4 col-12">Confirm Password
            </label>

            <span class="d-flex align-items-center col-md-8 col-12 p-0">
                <span class="p-inputgroup-addon">
                    <span class="material-icons-outlined f-20">
                        lock
                    </span>
                </span>
                <p-password placeholder="Confirm Password" class="w-100" styleClass="w-100"  formControlName="confirmPassword"  [ngClass]="{'is-invalid ':(formvalidation.confirmPassword.invalid&&formError)}" [feedback]="false" [toggleMask]="true"></p-password>
                <!-- <input formControlName="confirmPassword" [ngClass]="{'is-invalid ':(formvalidation.confirmPassword.invalid&&formError)||formvalidation.confirmPassword.errors?.passwordMismatch}" type="password"  id="inputgroup" pInputText autocomplete="off"
                    placeholder="Confirm Password"> -->

            </span>

        </div>
    </div>
    <div  class="nav justify-content-between align-items-center mt-2 px-2">
        <button pButton pRipple  type="button" (click)="modelRef.destroy()" icon="pi pi-times"  label="Close" class="p-button-danger "  ></button>
        <p-button pRipple  label="Save" icon="pi pi-send" (click)="onSubmit()" ></p-button>
    </div>
</div>
